@page
@model PrinterApplicationWebUI.Pages.StatusModel
@{
}

@*Test - Refresh page after 7 seconds*@
@*<meta http-equiv="refresh" content="10" />*@

@*<script src="jquery-1.3.2.min.js" language="javascript" type="text/javascript"></script>
<script src="jquery-blink.js" language="javscript" type="text/javascript"></script>*@

<style>

    .content-table {
        background-color: #F8F8F8;
        font-weight: bold;
        width: 1600px;
        border-collapse: collapse;
        margin: 100px 0;
        margin-left: -280px;
        font-size: 0.7em;
        min-width: 800px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table thead tr {
        /*background-color: #009879;*/
        background-color: black;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .content-table thead th:first-child {
        padding-left: 20px;
    }

    .content-table tbody td:first-child {
        padding-left: 20px;
    }

    .content-table th,
    .content-table td{
        padding: 6px 3px;
        text-align: center;
    }

    .content-table th {
        width: 180px;
    }

/*    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }*/

/*    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }*/

    /*.content-table tbody tr:last-of-type{*/
        /*border-bottom: 2px solid #009879;*/
        /*border-bottom: 2px solid black;
    }*/

    .content-table tbody tr.active-row {
        font-weight: bold;
        /*color: #009879;*/
        color: black;
    }

    .h2style{
        margin-top: 90px;
        margin-bottom: 30px;
    }

    #blinkId {
        font-size: 20px;
        font-weight: bold;
        color: red;
        transition: 0.5s;
    }

    .blink {
        /*color: red;*/
        font-weight: 500;
        font-weight: 900;
    }

    .border_down {
        border-bottom: 0.5px solid black;
    }

</style>


@if (Model.Printers.Count > 0)
{
    @*<div style="width: auto; height: auto;">
        <h2 class="h2style" style="text-align: left;"> Available Printers</h2>
    </div>*@
    <table class="content-table" style="border-bottom: solid 2px black;">
        <thead>
            <tr>
                <th class="align_left">IP Address</th>
                <th class="align_left">Description</th>
                <th class="align_left">Location</th>
                <th class="align_left">Manufacturer</th>
                <th class="align_left">Model</th>
                <th>Up Time</th>
                <th>Life Count</th>
                <th>Device Status</th>
                <th>State</th>
                <th>Black</th>
                <th>Cyan</th>
                <th>Magenta</th>
                <th>Yellow</th>
                <th>Tray 1</th>
                <th>Tray 2</th>
                <th>Tray 3</th>
                <th>Tray 4</th>
            </tr>
        </thead>
        <tbody>
       @foreach (var printer in Model.Printers)
        {
            <tr style="font-size: 13px">
                @if(printer.Status.ToLower() == "down")
                 {
                    <td style="color: #C8C8C8">@printer.IpAddress</td>
                 }
                else
                {
                    <td>@printer.IpAddress</td>
                }

                @if(printer.Status.ToLower() == "down")
                 {
                    <td style="color: #C8C8C8">@printer.Description</td>
                 }
                else
                {
                    <td>@printer.Description</td>
                }

                @if(printer.Status.ToLower() == "down")
                 {
                    <td style="color: #C8C8C8">@printer.Location</td>
                 }
                else
                {
                    <td>@printer.Location</td>
                }

                @if(printer.Status.ToLower() == "down")
                 {
                    <td style="color: #C8C8C8">@printer.Manufacturer</td>
                 }
                else
                {
                    <td>@printer.Manufacturer</td>
                }

                @if(printer.Status.ToLower() == "down")
                 {
                    <td style="color: #C8C8C8">@printer.Model</td>
                 }
                else
                {
                    <td>@printer.Model</td>
                }

                <td>@printer.UpTime</td>
                <td>@printer.LifeCount</td>
                @if(printer.Status.ToLower() == "running")
                {
                    <td>OK</td>
                }
                else if(printer.Status.ToLower() == "warning")
                {
                    <td>OK</td>
                }
                else
                {
                    <td>ERROR</td>
                }
                @if(printer.Status.ToLower() == "running")
                 {
                    <td style="color: green">RUNNING</td>
                 }
                else if (printer.Status.ToLower() == "warning")
                {
                    <td style="color: orange">WARNING</td>
                }
                else
                {
                    <td class="blink" style="color: red">DOWN</td>
                }
                @if (printer.Black > 0)
                 {
                    <td>@printer.Black%</td>
                 }
                 else
                 {
                    <td></td>
                 }
                @if (printer.Cyan > 0)
                 {
                    <td>@printer.Cyan%</td>
                 }
                 else
                 {
                    <td></td>
                 }
                 @if (printer.Magenta > 0)
                  {
                    <td>@printer.Magenta%</td>
                  }
                  else
                  {
                    <td></td>
                  }
                 @if (printer.Yellow > 0)
                  {
                    <td>@printer.Yellow%</td>
                  }
                  else
                  {
                    <td></td>
                  }
                 @if (printer.Tray1 > 0)
                  {
                    <td>@printer.Tray1%</td>
                  }
                  else
                  {
                    <td></td>
                  }
                 @if (printer.Tray2 > 0)
                  {
                    <td>@printer.Tray2%</td>
                  }
                  else
                  {
                    <td></td>
                  }
                 @if (printer.Tray3 > 0)
                  {
                    <td>@printer.Tray3%</td>
                  }
                  else
                  {
                    <td></td>
                  }
                 @if (printer.Tray4 > 0)
                  {
                    <td>@printer.Tray4%</td>
                  }
                  else
                  {
                    <td></td>
                  }
            </tr>
        } 
        </tbody>
    </table>
}
else
{
    <h2 style="font-size: 50px; text-align: center; margin-top: 200px">You have not added any printer yet.</h2>
}


<script type="text/javascript">
    var blinkId = document.getElementById('blinkId');
    setInterval(function() {
        blinkId.style.opacity = (blinkId.style.opacity == 0 ? 1 : 0);
    }, 500);


    function blinkIt() {
        var blinks = document.getElementsByClassName("blink");
        for(var i = 0, l = blinks.length; i < l; i++){
            var blink = blinks[i];
            var visiblity = blink.style.visibility;
            blink.style.visibility = visiblity == 'visible' ? 'hidden' : 'visible';
        }
    }

    setInterval(blinkIt, 1300 /* blinking interval in ms */);
</script>

